__pycache__
*.pyc
*.pyo
.git
.gitignore
.dvc
.dvcignore
*.md
*.txt
!requirements.txt
notebooks/
docs/
tests/
scripts/
.vscode/
.idea/
*.egg-info
dist/
build/
.pytest_cache/
htmlcov/
.coverage
mlruns/
mlflow.db
venv/
env/
.env
*.log
dags/
grafana/
node_modules/