# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
airflow-venv/
env/
.env
test_env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data (tracked by DVC)
data/archive.zip
data/News_dataset/*.csv
data/raw/*.csv
data/processed/

# Models (tracked by DVC)
models/best_model/*.pkl

# MLflow & Temp
mlruns/
mlartifacts/
mlflow.db
tmp/
cache/

# Docker
*.log

# Testing
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db

# Reports & Docs
*.pdf
*.docx
